.Rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 50%;
}

.major {
  width: 200px;
  height: 200px;
  border-width: 8px;
}

.minor {
  width: 60px;
  height: 60px;
  border-width: 4px;
}

.red {
  background-color: var(--accentRed);
  border-color: var(--brandRed);
}

.yellow {
  background-color: var(--accentYellow);
  border-color: var(--brandYellow);
}

.green {
  background-color: var(--accentGreen);
  border-color: var(--brandGreen);
}
